/* 
    Document   : xml_generator
    Created on : Dec 22, 2012, 4:06:11 PM
    Author     : agustinvijoditz
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

